/* main style sheet for this web site */
/* 
primary: #1649b6;
secendacy: #103481;
nats: #fda863;
*/
html {
  font-size: 62.5%;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* styles body */
body {
  font-size: 1.6rem;
  /* changes the background color */
  background-color: rgb(250, 249, 249);
  /* adds padding */
  margin-left: 5rem;
  margin-right: 5rem;
}

/* styles nav */
nav {
  /* change the backcground color */
  background-color: #fda863;
  /* padding and margin */
  padding: 1rem 0rem;
  margin: 0rem;
  /* changes font size */
  font-size: 2rem;
  /* makes the text go to the left */
  text-align: left;
}

/* styles list items in an unordered list in the nav bar */
nav ul li {
  /* removes bullet point from the list */
  list-style: none;
}

nav ul {
  display: inline-block;
}
main {
  margin-left: 1rem;
  margin-right: 1rem;
}

h2 {
  color: #1649b6;
}
h3 {
  color: #103481;
}
/* styles the achores */
a {
  /* changes the text color to black */
  color: rgb(34, 34, 34);
}

/* styles the h1 */
h1 {
  /* changes text color to black */
  color: black;
  /* aligns text to the center/middle */
  text-align: center;
  font-size: 3.2rem;
}

/* styles the footer */
footer {
  /* changes background color */
  background-color: #fda863;

  /* padding and margin */
  padding: 1rem 1rem;
  margin: 1rem 1rem;
}
/* styles the list items in a unordered list in the footer */
footer ul li {
  /* aligns text to left */
  text-align: left;
  /* allows text to be in a line rather then on top of each other (like a list) */
  display: inline-block;
  /* gets rid of bullet point */
  list-style: none;
}
